<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pi.server.mapper.HostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.pi.server.model.entity.Host">
        <id column="id" property="id" />
        <result column="mac" property="mac" />
        <result column="cpu" property="cpu" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler" />
        <result column="memory" property="memory" />
        <result column="disk" property="disk" />
        <result column="network_card" property="networkCard" typeHandler="com.baomidou.mybatisplus.extension.handlers.Fastjson2TypeHandler" />
        <result column="os" property="os" />
        <result column="last_time" property="lastTime" />
        <result column="status" property="status" />
        <result column="hostname" property="hostname" />
    </resultMap>

</mapper>
