<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pi.server.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.pi.server.model.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="avater" property="avater" />
        <result column="phone_number" property="phoneNumber" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="role_id" property="roleId" />
        <result column="status" property="status" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="login_attempts" property="loginAttempts" />
    </resultMap>

</mapper>
